@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;color:darkcyan; text-shadow:inherit">
<h2>Welcome to Bdbuy.store</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <img hight="auto" width="100%" src="~/Image/a1.gif" />
    </div>
</div>